<ul>
    {{#each users}}
        <li>
            <p>{{ name }}</p>
            <p>{{ job }}</p>
            <p>{{ department }}</p>
            <p>{{ phone }}</p>
            <p>{{ description }}</p>
        </li>
    {{/each}}
</ul>